<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <section>
        <article class="card">
          <div class="art__1">
            <span class="title">Programación web</span>
          </div>

          <p class="description">
            description ipsum dolor sit amet consectetur adipisicing elit.
            Voluptate, fuga deleniti ssimus quidem quasi eos at incidunt
            pariatur impedit! Officiis, necessitatibus natus. ccusantium
            quibusdam nulla rem, natus a recusandae harum?
          </p>
          <p class="languages">HTML, JAVASCRIPT, NODE JS</p>
        </article>
        <article class="card">
          <div class="art__2"></div>

          <p class="description">
            description ipsum dolor sit amet consectetur adipisicing elit.
            Voluptate, fuga deleniti ssimus quidem quasi eos at incidunt
            pariatur impedit! Officiis, necessitatibus natus. ccusantium
            quibusdam nulla rem, natus a recusandae harum?
          </p>
          <p class="languages">HTML, JAVASCRIPT, NODE JS</p>
        </article>
        <article class="card">
          <div class="art__3"></div>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
            fuga deleniti ssimus quidem quasi eos at incidunt pariatur impedit!
            Officiis, necessitatibus natus. ccusantium quibusdam nulla rem,
            natus a recusandae harum?
          </p>
          <p class="languages">HTML, JAVASCRIPT, NODE JS</p>
        </article>
      </section>
    </main>
  </body>
</html>
